@import "tailwindcss";

@theme {
  --font-display: "Source Serif 4 Variable", "sans-serif";
  --color-primary: var(--theme-color-primary);
}

@layer base {
  :root {
    --theme-color-primary: #ffffff;
  }
  [data-theme="dark"] {
    --theme-color-primary: #000000;
  }
}

body {
  font-family: "Inter Variable", Inter, Avenir, Helvetica, Arial sans-serif;
}
